<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-md-6">

      <%#= sort_link @q, :created_at, "created" %>
      <%#= sort_link @q, :deadline_at, "deadline"  , default_order: :asc %>
      <%#= sort_link @q, :priority, "priority"  , default_order: :asc %>
    </div>
  </div>


  <% @todos.each do |todo|%>
     <%= render todo %>
   <% end %>
  <div class="paginate-style text-center"><%= paginate @todos %></div>

</div>