/*
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
*= require bootstrap-datepicker
 */
//"bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import 'bootstrap-sprockets';
@import 'bootstrap';

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

body{
  background-image: image-url('bgg.jpg');
}

.card {
  opacity: 0.9;
  width: 100%;
  padding: 15px 25px;
  border: 1px solid slategrey;
  border-radius: 5%;
  margin: 10px 0 0 10px;
}
  .card-not.started {
    background-color: orangered;
    #background-image: image-url('bg.jpg');
    #filter: brightness(70%);
    filter: contrast(80%);
  }

  .card-underway {
    background-color: cadetblue;
    #background-image: image-url('a.jpg');

  }

  .card-completed {
    background-color: palegreen;
    opacity: 0.6;
  }


.card:hover {
  height: 45em;
  box-shadow: 25px 25px 45px 5px rgba(0,0,0,0.5);
}
.label-not.started{
  color: blueviolet;
}

.label-underway{
  color:blue;
}

.label-completed{
  color: green;
}

.badge-3{
  background-color: green;
}
.badge-2{
  background-color: blue;
}

.badge-1{
  background-color: red;
}

.navbar {
  .navbar {
    position: relative;
  }
  .brand {
    display: block;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 4em;
    margin: auto;
    color: #337ab7;

  }
  ul {
    li {
      list-style: none;
      margin: 10px 20px 0px 20px;
    }
  }

  form {
    float: right;
    margin-top: 10px;
  }

  a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-transform: capitalize;
    font-family: "Apple LiGothic";
    font-size: 2em;
  }

  a:hover {
    color: lightslategrey;
  }
}
.paginate-style{
  align-items: center;
}



footer{
  color: #BBBBBB;
  margin-top: 30px;
  p{
    float: right;
    margin: 10px 20px;
  }
}

.create-icon{
  color: #337ab7;
  margin-bottom: 10px;
}

.create-icon:hover{
  color: #2E2F30;

}

.error_msg{
  color: #B00100;
  list-style: none;

}

input#q_title_or_content_cont.taskbar-search{
  width: 30em;
  font-size: 1.2em;
}

.form-control{
  margin: 10px;
}