<footer>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2E2F30" >
    <p>
        <% if I18n.locale == I18n.default_locale %>
          Change to <%= link_to "日本語", { :locale=>'ja'} %>
        <% else %>
          Change to <%= link_to "English", { :locale=>'en' } %>
        <% end %>
      </p>
  </nav>
</footer>